﻿@model Web_Author.Models.DongGopYKien

@{
    ViewBag.Title = "Đóng góp";
}

<h1>Đóng góp ý kiến</h1>
<script src="~/Content/ckeditor/ckeditor.js" type="text/javascript"></script>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Ý kiến của bạn về website</legend>


        <div class="editor-label">
           Nội dung:
        </div>
        
            @*<textarea id="txt" name="txt" style="width:500px;height:300px">
            </textarea>*@
        

        <div   class="editor-field">
             @Html.TextAreaFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>
        <script type="text/javascript">
            CKEDITOR.replace('NoiDung', {
                enterMode: CKEDITOR.ENTER_BR,
                shiftEnterMode: CKEDITOR.ENTER_P
            });
        </script>
        <p>
            <input type="submit" value="Gửi" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@*<script language="javascript" type="text/javascript">
    var ckedior;
    function creatEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, { language: languageCode });
    }
    $(function () {
        creatEditor('vi', "txt")
    });
</script>*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
