﻿@{
    ViewBag.Title = "Gửi thành công";
}

<h2>Gửi thành công. Ý kiến của bạn đã được ghi nhận. Cảm ơn bạn đã sử dụng website của chúng tôi.
</h2>
Hệ thống đang chuyển về trang chủ .....
<meta http-equiv="refresh" content="5;http://localhost:2517/login/trangchu" />

