﻿@model Blog3.Models.Tag

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Tag</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>
</fieldset>
<h2>Post</h2>
<fieldset>
    <legend>Post</legend>
    @foreach (var post in Model.Posts)
    {
        <div class="display-field">
            @Html.ActionLink(post.Title, "", "Post/" + "Details/" + post.ID)
        </div>
    }
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
