﻿@model Blog3.Models.Comment
<div class="display-field">
    <h2>Last Time: @Html.DisplayFor(model => model.LastTime) minutes </h2>
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>
