﻿@model Web_Author.Models.CmtDiemDuLich

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>CmtDiemDuLich</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiemDuLich.TenDiaDiem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiemDuLich.TenDiaDiem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ten)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ten)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
