﻿@model Web_Author.Models.Account

@{
    ViewBag.Title = "Đăng kí";
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    
}

<script src="../../Scripts/ckfinder/ckfinder.js"></script>
<script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        //finder.basePath = '../';
        finder.selectActionFunction = SetFileField;
        finder.popup();
    }
    function SetFileField(fileUrl) {
        document.getElementById('Images').value = fileUrl;
        $('#myImg').attr('src',fileUrl);
    }
</script>
    <div class="dangki">
        <h1>Đăng kí tài khoản</h1>
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

    <fieldset>
            <legend>Thông tin đăng nhập</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
        </fieldset>
        <fieldset>
                <legend>Thông tin bổ sung</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Address)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.DayOfBird)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.DayOfBird)
                    @Html.ValidationMessageFor(model => model.DayOfBird)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.PhoneNumber)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Images)
            </div>
            <div class="editor-field">
                <input id="Browser" type="button" value="Chọn Ảnh ..." onclick="BrowseServer();" />
                @Html.EditorFor(model => model.Images)


                @Html.ValidationMessageFor(model => model.Images)

            </div>
            <img id="myImg" src="" alt="your image" style="width:200px;height:100px" />

                <div style="font-size:small;font-style:oblique">
                    *: Thông tin bắt buộc.
                </div>
                <p>
                    <input type="submit" value="Đăng kí" />
                </p>
            </fieldset>
    }
    </div>

    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
