﻿@model Web_Author.Models.Account

@{
    ViewBag.Title = "Details";
}
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Content/ckfinder/ckfinder.js"></script>
<script src="~/Content/ckeditor/ckeditor.js"></script>
<h2>Thông tin cá nhân</h2>

<fieldset>
    <legend>Thông tin tài khoản</legend>


    <div class="display-label" style="font-style:italic">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label" style=" font-style:italic">
        @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label" style=" font-style:italic">
        @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label" style=" font-style:italic">
        @Html.DisplayNameFor(model => model.PhoneNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PhoneNumber)
    </div>
    <div class="display-label" style=" font-style:italic">
        @Html.DisplayNameFor(model => model.AccLevel)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccLevel)
    </div>
    <div class="display-label" style=" font-style:italic">
        @Html.DisplayNameFor(model => model.AccTotalPost)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccTotalPost)
    </div>

    <div class="display-label" style=" font-style:italic">
        Ảnh đại diện
        @Html.Raw(ViewBag.View)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.AccID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
