﻿@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-base.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-topbar.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-sidebar.css" />
<script src="~/Scripts/ddlevelsmenu.js"></script>


<script type="text/javascript">
    ddlevelsmenu.setup("a", "topbar") //ddlevelsmenu.setup("mainmenuid", "topbar|sidebar")
</script>
<div id="a" class="mattblackmenu" style="font-size:large">
    <ul>
        <li>
            <a href="http://localhost:2517/sukien/index">
                Sự kiện
            </a>

        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/tintuc/index" >
               Tin tưc
            </a>
        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/diemdulich/index">
                Điểm du lịch
            </a>
        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/account/index">
                Tài khoản
            </a>
        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/donggopykien/index" rel="ddsubmenu2">
                Ý kiến người dùng
            </a>
        </li>

    </ul>
</div>
