﻿@model Web_Author.Models.Login

@{
    ViewBag.Title = "Đăng nhập";
}


<div class="dangnhap-right">
    <h2>DULICHVN.COM</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Đăng nhập</legend>

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div>
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.PassWord)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.PassWord)
                @Html.ValidationMessageFor(model => model.PassWord)
            </div>
            <p >
                <input type="submit" value="Đăng nhập" />
       
                    @Html.ActionLink("Quên mật khẩu?", "Edit", "Login")
              
               
            </p>
            <div>
                Chưa có tài khoản? @Html.ActionLink("Đăng kí ngay.", "Create", "Account")
            </div>
        </fieldset>
    }
</div>

<div class="dangnhap-left">
    @using (@Html.BeginForm())
    {
        <div>
            Chào mừng bạn đến với dulichvn.com.
        </div>
        <div>
            Hệ thống website về du lịch và nghỉ dưỡng tại Việt Nam.
        </div>
        <div>
            Hãy tham gia cũng chúng tôi đề có những ngày thư giãn thật thoải mái và ý nghĩa.
        </div>
        <div>  </div>
        <div>
            <img src="~/Image/m%c3%b4%20h%c3%acnh.jpg" style="width:620px;height:270px;margin:30px" />
        </div>

    }
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
