﻿@model Web_Author.Models.ChangePassword

@{
    ViewBag.Title = "Quên mật khẩu";
}


<div class="dangki">
    <h1>Quên mật khẩu</h1>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Thông tin tài khoản</legend>

            <div class="editor-label">
                Tên tài khoản
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>
            <div class="editor-label">
                Ngày sinh
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.DayOfBird)
                @Html.ValidationMessageFor(model => model.DayOfBird)
            </div>
            <div class="editor-label">
                Mật khẩu mới
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.NewPassword)
                @Html.ValidationMessageFor(model => model.NewPassword)
            </div>
            <div class="editor-label">
                Nhập lại mật khẩu
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Confirm)
                @Html.ValidationMessageFor(model => model.Confirm)
            </div>
        </fieldset>
       

            <div style="font-size:small;font-style:oblique">
                *: Thông tin bắt buộc.
            </div>
            <p>
                <input type="submit" value="Xác nhận" />
            </p>
 
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
