﻿@{
    ViewBag.Title = "Trang chủ";
}
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-base.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-topbar.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-sidebar.css" />
<script src="~/Scripts/ddlevelsmenu.js"></script>


<script type="text/javascript">
    ddlevelsmenu.setup("a", "topbar") //ddlevelsmenu.setup("mainmenuid", "topbar|sidebar")
</script>
<div id="a" class="mattblackmenu" style="font-size:large">
    <ul>
        <li>
            <a href="http://localhost:2517/login/trangchu" >
                Trang chủ
            </a>

        </li>
        <li style="list-style:none;">
            <a href="#" rel="ddsubmenu1">
                Điểm du lịch
            </a>

        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/login/trangchu">
                Đăng kí du lịch
            </a>
        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/login/trangchu">
                Thảo luận
            </a>
        </li>
        <li style="list-style:none;">
            <a href="#" rel="ddsubmenu2">
                Đóng góp
            </a>
        </li>

    </ul>
</div>
<ul id="ddsubmenu1" class="ddsubmenustyle">
    <li><a href="http://localhost:2517/Diemdulich/diemdulich">Địa điểm chính</a></li>
    <li><a href="#">Địa điểm được đề xuất</a></li>
</ul>
<ul id="ddsubmenu2" class="ddsubmenustyle">
    <li><a target="_blank" href="http://localhost:2517/DongGopYKien">Đóng góp ý kiến</a></li>
    <li><a href="#">Đề xuất địa điểm</a></li>
</ul>
<div style="float:right">

    @Html.Raw(ViewBag.View2)

    <a target="_blank" href="http://localhost:2517/account/details">@Html.Raw(ViewBag.View3)</a>
</div>
<h2>Trang chủ</h2>
<div class="trangchu">
    <div class="trangchu-left">
        <div class="gioithieu">
            <h2>Giới thiệu</h2>
            <p>
                Hệ thống website dulichvn.com cung cấp cho mọi người những điểm du lịch Việt độc đáo,
                mới lạ và hấp dẫn. Không chỉ là du lịch, với mỗi chuyến đi cùng dulichvn.com,
                các bạn sẽ cùng chúng tôi trải nghiệm những điều hoàn toàn mới lạ.
                Đến với chúng tôi để được đi và giao lưu với bạn bè mọi miền tổ quốc.
            </p>
        </div>
        <div class="hotro">
            <h2>Hỗ trợ</h2>
            <div>
                @Html.ActionLink("Hệ thống xe du lịch", "Create", "Login")
            </div>
            <div>
                @Html.ActionLink("Hệ thống đăng kí online", "Create", "Login")
            </div>
        </div>
    </div>
    <div class="trangchu-right">
        <div class="tintuc">
            <h2>Tin tức</h2>
            @Html.Raw(ViewBag.View1)

        </div>
        <div class="sukien">
            <h2>Sự Kiện</h2>
            @Html.Raw(ViewBag.View)
        </div>
    </div>
</div>

