﻿body {
}
.main{
    background:url(Image/n1.jpg); padding: 0px;width:1349px; margin:0px;height: 150px ;
}
.menu {
    height: 30px;
    margin: 10px 0px 0px 0px;
    width: 1349px;
    background:#ea9954;
}
.dangnhap
{
    background:#ffffff;height:450px;
}
.dangnhap-right
{
    float:right ;background:#ffffff;padding: 0px;width:400px;margin:30px;height: 300px;
}
.dangnhap-left {
    background: #CCFFCC;
    padding: 0px;
    width: 700px;
    margin: 30px;
    height: 400px;
    text-align: center;
    font-size: large;
    font-style: oblique;
}
.dangki
{
    background:#ffffff;padding:10px;margin:30px auto auto 200px;width:700px;height:700px;
}
.trangchu{
    width:1330px;height:400px;padding:0px;margin:10px;
}
.trangchu-left{
    float:left;background:#FFFFFF;width:350px;height:500px;margin:10px;padding:0px;
}
.trangchu-right
{
    float:right;background:#CCFFCC;width:900px;height:700px;margin:10px;padding:0px;
}
.gioithieu
{
    background:#CCFFCC;width:350px;height:200px;padding:10px;
}
.hotro
{
    background:#ea9954;width: 370px;height:100px;margin:20px 0px 0px 0px;
}
.tintuc
{
    background:#FFCC33;width:900px;height:330px;margin:0px;padding:0px;
}
.sukien
{
    background:#99FFCC;width:900px;height:330px;margin:20px 0px 0px 0px;padding:0px;
}
.tintuc-image
{
    background:#808080;width:100px;height:100px;margin:10px;float:left;
}
.tintuc-noidung
{
    background:#808080;width:750px;height:100px;margin:10px;float:right;
}
.diemdulich
{
    background:#ffffff;width:1340px;
}
.diemdulich-vung
{
    background:#99FFCC;width:200px;height:200px;float:left;
}
.diemdulich-post
{
    background:#99FFCC;width:1100px;float:right;
}
.diemdulich-post-noidung
{
    background:#ffffff;width:550px;min-height:250px;float:left;margin:10px 10px 0px 10px;text-align: center;
}
.diemdulich-post-video
{
    background:#ffffff;width:450px;min-height:250px;margin:0px;float:right;
}
.lienhe
{
    background:#ea9954;float:initial;width:1350px;height:30px;
}
.khungdiemdulich
{
    background:#99FFCC;width:1090px;margin:0px;padding:0px;
}
.like-cmt
{
    background:#ffffff;width:550px;min-height:20px;float:left;margin:0px 10px;
}
.tochucdulich
{
    background:#ffffff;width:1340px;min-height:300px;
}
.tochucdulich-timkiem
{
    background:#99FFCC;width:250px;float:left;min-height:200px;margin:20px;
}
.tochucdulich-noidung {
    background: #99FFCC;
    width: 950px;float:right;min-height:200px;margin:20px;
}