﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/ddlevelsmenu-base.css" rel="stylesheet" />
    <link href="~/Content/ddlevelsmenu-sidebar.css" rel="stylesheet" />
    <link href="~/Content/ddlevelsmenu-topbar.css" rel="stylesheet" />
</head>
<body>
    <div class=" main" style="font-style:oblique">
        <h1>DULICHVN.COM</h1>
    </div>

            @RenderBody()
       
       

   
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

</body>
</html>
