﻿@model Web_Author.Models.CmtDiemDuLich


@using (Html.BeginForm("Create", "CmtDiemDuLich", new { idDiemDuLich = ViewData["idDiemDuLich"] }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>


        <div class="editor-label">
           Nhập nội dung
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>


        <p>
            <input type="submit" value="Bình luận" />
        </p>
    </fieldset>
}



