﻿@model Web_Author.Models.DiemDuLich

@{
    ViewBag.Title = "Create";
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
}

<h2>Create</h2>
<script src="../../Scripts/ckfinder/ckfinder.js"></script>
<script type="text/javascript">
    function BrowseServer() {
        var finder = new CKFinder();
        //finder.basePath = '../';
        finder.selectActionFunction = SetFileField;
        finder.popup();
    }
    function SetFileField(fileUrl) {
        document.getElementById('Hinh').value = fileUrl;
        $('#myImg').attr('src', fileUrl);
    }
</script>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>DiemDuLich</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.TenDiaDiem)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TenDiaDiem)
            @Html.ValidationMessageFor(model => model.TenDiaDiem)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NoiDung)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NoiDung)
            @Html.ValidationMessageFor(model => model.NoiDung)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Hinh)
        </div>
        <div class="editor-field">
            <input id="Browser" type="button" value="Chọn Ảnh ..." onclick="BrowseServer();" />
            @Html.HiddenFor(model => model.Hinh)


            @Html.ValidationMessageFor(model => model.Hinh)

        </div>
        <img id="myImg" src="" alt="your image" style="width:200px;height:100px" />
        <div class="editor-label">
            @Html.LabelFor(model => model.Video)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Video)
            @Html.ValidationMessageFor(model => model.Video)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Mien)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Mien)
            @Html.ValidationMessageFor(model => model.Mien)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
