﻿@model Web_Author.Models.DiemDuLich

@{
    ViewBag.Title = "Điểm du lịch";
}

<h2>Thông tin du lịch</h2>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
<fieldset>
    <legend>Điểm du lịch</legend>

    @*<div class="display-label">
         @Html.DisplayNameFor(model => model.TenDiaDiem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TenDiaDiem)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NoiDung)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NoiDung)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Hinh)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Hinh)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NgayTao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NgayTao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TongLike)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TongLike)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TongCmt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TongCmt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Mien)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Mien)
    </div>*@
    @Html.Raw(ViewBag.NoiDung)
</fieldset>
}
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")*@
</p>
<fieldset>
    <legend>Bình luận</legend>
    @foreach(var a in Model.CmtDiemDuLich)
    {
       <div class="display-field">
           <a style="font-size:large;font-style:oblique">@Html.DisplayFor(x=>a.Ten)</a>:
           @Html.DisplayFor(x => a.NoiDung)
       </div>
    }
</fieldset>
@Html.Partial("AddCmtDiemDuLich", new Web_Author.Models.CmtDiemDuLich(), ViewData);