﻿@{
    ViewBag.Title = "Điểm du lịch";
}
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-base.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-topbar.css" />
<link rel="stylesheet" type="text/css" href="ddlevelsfiles/ddlevelsmenu-sidebar.css" />
<script src="~/Scripts/ddlevelsmenu.js"></script>
<script type="text/javascript">
    ddlevelsmenu.setup("a", "topbar") //ddlevelsmenu.setup("mainmenuid", "topbar|sidebar")
</script>
<div id="a" class="mattblackmenu" style="font-size:large">
    <ul>
        <li>
            <a href="http://localhost:2517/login/trangchu">
                Trang chủ
            </a>

        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/login/trangchu" rel="ddsubmenu1">
                Điểm du lịch
            </a>

        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/login/trangchu">
                Đăng kí du lịch
            </a>
        </li>
        <li style="list-style:none;">
            <a href="http://localhost:2517/login/trangchu">
                Thảo luận
            </a>
        </li>
        <li style="list-style:none;">
            <a href="#" rel="ddsubmenu2">
                Đóng góp
            </a>
        </li>

    </ul>
</div>
<ul id="ddsubmenu1" class="ddsubmenustyle">
    <li><a href="http://localhost:2517/Diemdulich/diemdulich">Địa điểm chính</a></li>
    <li><a href="#">Địa điểm được đề xuất</a></li>
</ul>
<ul id="ddsubmenu2" class="ddsubmenustyle">
    <li><a target=" _blank" href=" http://localhost:2517/DongGopYKien" >Đóng góp ý kiến</a></li>
    <li><a href="#">Đề xuất địa điểm</a></li>
</ul>
<div style="float:right">

    @Html.Raw(ViewBag.View2)

    <a target="_blank" href="http://localhost:2517/account/details">@Html.Raw(ViewBag.View3)</a>
</div>
<h1>Điểm du lịch</h1>
<div class="diemdulich">
    <div class="diemdulich-vung">
        <h2>Du lịch vùng</h2>
        <div>
            <h3>@Html.ActionLink("Miền Bắc", "", "")</h3>
        </div>
        <div>
            <h3> @Html.ActionLink("Miền Trung", "", "")</h3>
        </div>
        <div>
            <h3> @Html.ActionLink("Miền Nam", "", "")</h3>
        </div>
    </div>
    <div class="diemdulich-post" >
            @Html.Raw(ViewBag.NoiDung)

    </div>
</div>
