﻿@model Web_Author.Models.LikeDiemDuLich

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>LikeDiemDuLich</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccID, "Account")
        </div>
        <div class="editor-field">
            @Html.DropDownList("AccID", String.Empty)
            @Html.ValidationMessageFor(model => model.AccID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DiemDuLichID, "DiemDuLich")
        </div>
        <div class="editor-field">
            @Html.DropDownList("DiemDuLichID", String.Empty)
            @Html.ValidationMessageFor(model => model.DiemDuLichID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
