﻿@model Web_Author.Models.LikeDiemDuLich

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>LikeDiemDuLich</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Account.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Account.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DiemDuLich.TenDiaDiem)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DiemDuLich.TenDiaDiem)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
